@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  font-weight: 600;
}

body{
  background: url(images/back2.jpg);
  background-size: cover;
}

.card{
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #f600fe, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button{
  border: 0;
  outline: 0;
  background: #e8eeed;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button:hover{
  background: rgb(160, 158, 158);
  color: rgb(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.search button img{
  width: 16px;
}

.weather-icon{
  width: 170px;
  margin-top: 30px;
}

.weather h1{
  font-size: 80px;
  font-weight: 500;
}

.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col{
  display: flex;
  align-items: center;
  text-align: left;
}

.col img{
  width: 40px;
  margin-right: 10px;
}

.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}

.weather{
  display: none;
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

/* Add this CSS at the end of your existing styles.css */

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
  body{
    background: url(images/cropped-back2.jpg);
    background-size: cover;
  }
  .card {
    padding: 30px 25px; /* Reduce padding */
    border-radius: 15px; /* Smaller border radius */
  }

  .search input {
    padding: 10px 20px; /* Adjust input padding */
    height: 50px; /* Reduce input height */
    font-size: 16px; /* Decrease font size */
  }

  .search button {
    width: 50px; /* Reduce button width */
    height: 50px; /* Reduce button height */
  }

  .weather-icon {
    width: 120px; /* Reduce weather icon size */
    margin-top: 20px; /* Adjust margin */
  }

  .weather h1 {
    font-size: 60px; /* Decrease font size */
  }

  .weather h2 {
    font-size: 35px; /* Decrease font size */
  }

  .details {
    flex-direction: column; /* Stack details vertically */
    margin-top: 30px; /* Adjust margin */
  }

  .col {
    margin-bottom: 20px; /* Adjust margin between details */
  }

  .col img {
    width: 30px; /* Reduce icon size */
  }

  .humidity,
  .wind {
    font-size: 20px; /* Decrease font size */
  }
}
